@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using web_24BM.Models

<h1>@ViewBag.Texto</h1>
<p>@TempData["texto2"]</p>

<h1>@Model.Titulo</h1>
<p>@Model.Parrafo</p>

<form asp-action="Index" asp-controller="Ejemplo" method="post">
    <input class="form-control" type="text" name="Titulo" placeholder="Ingrese el título"/>
    <input class="form-control" type="text" name="Parrafo" placeholder="Ejemplo" />

    <input type="submit" value="Enviar" class="btn btn-primary"/>
</form>